project_name: multihead
device: cuda:0
random_state: 2022
n_epochs: 5
batch_size: 12
test_batch_size: 16
num_workers: 8

# =========================== Dataset ===================
folds: [0]
imbalance_sampler: false
max_negative_examples: null
perc_sample: [1.0, 1.0]
# =========================== Model =====================
model_type: "timm"
model_name: "tf_efficientnetv2_s_in21ft1k"

in_chans: 1
n_hidden: null

input_size: [256, 512]
test_input_size: [256, 512]
model_ckpt: null

drop_rate_back: 0.0
drop_rate_mh: 0.25

# ===================== Optimization =====================
target: cancer

loss_target:
  # focal, bce
  loss_type: "bce"
  # apply automatic unbalancing reweighting: weight_i=total_num/num(class_i)
  unbalance: true
  # automatic weighting is performed using unbalance_perc*weight_i
  unbalance_perc: 0.5

# aux_cols = (col_name, loss_type, balance)
# loss_type : focal, bce, ce
# balance (true, false): apply automatic unbalancing reweighting: weight_i=total_num/num(class_i)
aux_cols: [
           [view, ce, false],
           [site_id, bce, true],
           [laterality, bce, false],
           [machine_id, ce, false],
           [implant, bce, true],
           [biopsy, bce, true],
           [invasive, bce, true],
           [BIRADS, ce, false],
           [density, ce, false],
           [difficult_negative_case, bce, true],
           [age, ce, false]]
loss_aux:
  # automatic weighting is performed using unbalance_perc*weight_i
  unbalance_perc: 0.5
  # loss = target_loss + sum_i {loss_aux.weights[i]*loss_aux[i]}
  weights: 97

# Optimizer
# sgd, adam, adamw
optimizer: adam
# sgd
opt_sgd_momentum: 0.9

lr: 1.0e-3
weight_decay: 1.0e-8

# const, cosineannealing, step
lr_scheduler: cosineannealing

# lr_cosineannealing
lr_cosineannealing_eta_mul: 0.1   # from lr to eta_mul*lr

# lr_step
lr_step_milestones: [10, 20]
lr_step_gamma: 0.1


# ===================== Augmentations ===================
severity: 5
mean: 0.5
std: 0.5
tta: false
